@*@model Webshop.Models.BreadCrumTracker*@
<div class="row">
    <div class="col-xs-12">
        <h3><span class="badge badge-blue-big">@Model.VendorName/@Model.CategoryName/@Model.ProductName/@Model.SubcategoryName</span></h3>
    </div>
</div>
