<section class="container content-box">
    <section class="row">
        <div class="col-xs-12 col-md-9 margin-top-md">
            <h1>Cookies</h1>
            <h2>Vad är cookies och hur fungerar de?</h2>
            <p>En cookie är en liten textfil som webbplatsen du besöker begär att spara på din dator. Cookies används på många webbplatser för att ge en besökare tillgång till olika funktioner. Informationen i cookien är möjlig att använda för att följa en användares surfande.</p>
            <p>Det finns två typer av cookies. Den ena typen sparar en fil under en längre tid på din dator. Den används till exempel vid funktioner som talar om vad som är nytt sedan användaren senast besökte den aktuella webbplatsen. Den andra typen av cookies kallas sessionscookies. Under tiden du är inne och surfar på en sida, lagras den här cookien temporärt i din dators minne exempelvis för att hålla reda på vilket språk du har valt. Sessionscookies lagras inte under en längre tid på din dator, utan försvinner när du stänger din webbläsare. (Källa: Post &amp; Telestyrelsen, <a class="link" target="_blank" href="http://www.pts.se">http://www.pts.se/</a>)</p>
            <h2>Vad använder Superprodukter home cookies till?</h2>
            <p>Superprodukter home använder två typer av cookies.</p>
            <h3>Sessioncookies</h3>
            <p>Superprodukter home använder sessioncookies. Den lever så länge din webläsare är öppen. Om du öppnar en ny så skapas det en ny sessioncookie.</p>
            <h3>Övriga cookies</h3>
            <p>Superprodukter sparar också annan information i cookies. Vi sparar bl.a. ett slumpmässigt värde som vi använder för att hämta dina inställningar (som tex. automatisk inloggning, sortering i listor etc) i en databas.</p>
            <h2>Om du bara accepterar s.k. sessionsookies</h2>
            <p>Du kan använda vår websida fullt ut även om du bara accepterar s.k. sessionscookies.</p>
            <h2>Om du inte accepterar några cookies alls</h2>
            @*<p>DU kan inte använda vår websida fullt ut om du inte accepterar några cookies alls.</p>
            <ul class="list">
                <li>
                    <p>Du kan läsa information</p>
                </li>
                <li>
                    <p>Du kan titta på produkter, se priser och relaterad information</p>
                </li>
                <li>
                    <p>Du kan <b>inte</b> logga in</p>
                </li>
                <li>
                    <p>Du kan <b>inte</b> beställa</p>
                </li>
                <li>
                    <p>Du kan <b>inte</b> lägga produkter i kundvagnen</p>
                </li>
            </ul>*@
            <p>Oavsett vilken typ av cookies du valt att acceptera så skall du ta för vana att klicka på "Logga ut" när du lämnar vår websida (detta gäller ej om du valt automatisk inloggning).</p>
            <p>I de cookies vi använder sparas ingen personlig information och/eller information relaterad till vilka sidor du besöker.</p>
        </div>
    </section>
</section>
