<ul class="nav-white navbar-nav pull-right">
    <li class="dropdown pull-right cart pad-right-15">
        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="/shoppingcart">
            <label class="cartValue dropdown-toggle-cart">@await Component.InvokeAsync("CartTotalSum")</label>
        </a>
        <ul class="dropdown-menu keep-open">
            <li class="hide"></li>
            <li class="productList-small"></li>
            <li class="col-xs-12 padding-x-off">
                @await Component.InvokeAsync("CartSummary")
            </li>
        </ul>
    </li>
</ul>