<section class="container">
    <div class="container-white">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="margin-x-md"></h3>
            </div>
        </div>
        <div class="col-xs-12 padding-x-off">
            <div class="content-box">
                <h2>Din varukorg innehöll inga artiklar</h2>
            </div>
        </div>
    </div>
</section>