@using Webshop.Models
@using Microsoft.AspNetCore.Identity
@model Webshop.Models.AccountViewModels.LoginViewModel
 <li>
     <div>
         <input asp-for="Email" class="form-control" />
         <span asp-validation-for="Email" class="text-danger"></span>
     </div>
 </li>
 <li>
     <div>
         <input asp-for="Password" class="form-control" />
         <span asp-validation-for="Password" class="text-danger"></span>
     </div>
 </li>
 <li>
     <div>
         <a asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" class="btn submit-sm-button">
             <span class="ladda-label"><i class="fa fa-sign-in icon-padding-right"></i> Logga In</span>
         </a>
     </div>
 </li>


