@{
    ViewBag.Title = "Access denied due to insufficient permissions";
}
<section class="container">
    <div class="wrapper row2 error-container-box animated shake">
        <div id="container" class="clear">
            <!-- ####################################################################################################### -->
            <!-- ####################################################################################################### -->
            <!-- ####################################################################################################### -->
            <!-- ####################################################################################################### -->
            <section id="fof" class="clear">
                <!-- ####################################################################################################### -->
                <div class="hgroup">
                    <h1 class="text-danger">403</h1>
                    <h2 class="text-danger">Error ! <span>Page Not Accessable</span></h2>
                </div>
                <p class="text-danger">You have no permission to access this page</p>
                <p><a href="javascript:history.go(-1)">&laquo; Go Back</a> / <a href="htt://localhost:5000/Home/">Go Home &raquo;</a></p>
                <!-- ####################################################################################################### -->
            </section>
            <!-- ####################################################################################################### -->
            <!-- ####################################################################################################### -->
            <!-- ####################################################################################################### -->
            <!-- ####################################################################################################### -->
        </div>
    </div>
</section>