
@model Webshop.Models.Order
@{
    ViewBag.Title = "Address And Payment";
}

<section class="container">
    <div class="col-xs-12 pad-top content-box">
        <div class="col-md-12">
            @await Component.InvokeAsync("CheckOutCart")
        </div>
        <div class="col-md-12">
            <form asp-antiforgery="true">
                <h2 class="orange">Klarna checkout</h2>
                <div>
                    @Html.Partial("_KlarnaResult")
                    <a asp-action="Index">Back to List</a>
                    <input type="submit" value="Submit Order" />
                </div>
            </form>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
